body {
    font-family: "Montserrat-Regular";
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-section {
    max-width: 1000px;
    margin: 15px auto;
    padding: 0 10px;
}

.app-header {
    background-color: #242729;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #bbc0c4;
    height: 50px;

    .app-header__wrapper {
        display: flex;
        align-items: center;
        padding-top: 7px;
        justify-content: space-between;
    }

    .app-header__title {
        display: inline-block;
    }

    .app-header__search {
        max-width: 854px;
        flex: 1 0;

        input {
            background-color: #3b4045;
            color: #e4e6e8;
            width: 100%;
            padding: 0.6em 0.7em;
            border-radius: 5px;
        }
    }

    .app-header__login {
        .btn {
            background-color: #3b4045;
            color: #e4e6e8;
            padding: 8px;
            border-radius: 10px;

            .badge {
                font-size: 14px;
            }
        }
    }
}
.app-header__user {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.app-header__user-icon {
    width: 30px;
    img {
        width: 100%;
        height: auto;
    }
}
.app-header__user-username {
    margin-left: 10px;
}
.app-header__login {
    margin-left: 10px;
}
